{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Story9</title>
    </head>
    <body>
        <h1> Book Search </h1>
        <input id="search" placeholder="Input Here">
        <button id="button" type="button">Click Me</button>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Cover</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Release Date</th>
                        <th>Description</th>
                        <th>Like</th>
                    </tr>
                </thead>
                <tbody id="results">

                </tbody>
            </table>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>




<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Google API</title>
</head>
<body>
    <h1>Search Box</h1>
    <input id="search" placeholder="Search your book here">
    <button id="button" type="button">Go!</button>
    <div id="results"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<scirpt src="js/main.js"></scirpt>
</body>
</html> -->